
/*   ----- FOOTER ----    */


footer{
}


/* Superior */

.footer_superior{
    width: 100%;    
    background-color:rgba(18,36,14,0.1);
}

.footer_superior--listas{
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.footer_superior--list ul{
    padding: 0;
    text-align: start;
}

.footer_superior--list ul li{
    list-style: none;
    color: gray;
}

.footer_superior--lista1{
    width: 20%;
}
.footer_superior--lista2{
    width: 20%;
    
}
.footer_superior--lista3{
    width: 20%;
    
}
.footer_superior--lista4{
    width: 40%;
    text-align: end;  
}


.footer_superior--list h3{
    color: #303840;
}


.footer_superior--list p{
    color: gray;
}



/* Inferior */

.footer_inferior{
    width: 100%;
    background-color: #465a6e;    
}


.footer_inferior-contenido{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
}


.footer_inferior--seguidor{ 
    width: 50%;
}

.footer_inferior--seguidor ul{ 
    display: flex;
    padding: 0;
}
.footer_inferior--seguidor ul li{
    display: block;
    list-style: none;
    padding: 5px;
    margin: 2px;
    background-color: azure;
    color: #465a6e;
    border-radius: 2px;
}

.footer_inferior--info{
    width: 50%;
    text-align: end;
}


.footer_inferior--seguidor h3{
    color: azure;
}

.footer_inferior--info{
    color: azure;
}

.footer_inferior--info p span{
    color:aliceblue;
    text-decoration: underline;
}


