.estadistica--contenido{
    padding-left: 20%;
    padding-top: 35px;
}

.estadistica--grafica1{
    height: 630px;
    width: 100%;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    border-radius: 5px;
}


.estadistica--grafica2,.estadistica--grafica3{
    height: 300px;
    width: 90%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    border-radius: 5px;
}


.estadistica--grafica3{
    margin-top: 30px;
}

.estadistica--hr{
    border: none;
    height: 2px;
    margin-right: 5%;
    background: #ccc;
 }