.info_usuario--editar_datos_user{
    margin-top:80px;
    margin-bottom:80px;
}


.info_usuario--editar_step_main{
    margin-top: 50px;
}


.info_usuario--editar_step {
    position: relative;
    min-height: 1em;
    color: gray;
    cursor: pointer;
  }
  .info_usuario--editar_step + .info_usuario--editar_step {
    margin-top: 1.5em
  }
  .info_usuario--editar_step > div:first-child {
    position: static;
    height: 0;
  }
  .info_usuario--editar_step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
  }
  .info_usuario--editar_step.info_usuario--editar_step-active {
    color: #4285f4
  }
  .info_usuario--editar_step.info_usuario--editar_step-active .info_usuario--editar_circle {
    background-color: #4285f4;
  }
  
  /* Circle */
  .info_usuario--editar_circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
  }
  
  /* Vertical Line */
  .info_usuario--editar_circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
  }
  .info_usuario--editar_step:last-child .info_usuario--editar_circle:after {
    display: none
  }
  
  /* Stepper Titles */
  .info_usuario--editar_title {
    line-height: 1.5em;
    font-weight: bold;
  }
  .info_usuario--editar_caption {
    font-size: 0.8em;
  }