.home_teacher--notificacion
{
    width: 62%;
    margin-top: 20px;
}

.home_teacher--title-notification
{
    font-size: 20px;
    font-weight: bold;
}

.home_teacher--btn_denegar
{
    margin-left: 10px;
}