/* Modal */

#navbar_user--modal{
    display: none;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 200px;
    background-color: rgba(0,0,0,0.7);
}

#navbar_user--contenido_modal{
    position: relative;
    height: 100px;
    width: 80%;
    padding: 0;
    margin: auto;
    background-color: beige;
    animation: 0.5s animacion_modal;
}


@keyframes animacion_modal{
    from{
        top: -300px;
        visibility: 0;
    }   
    
    to{
        top: 0;
        visibility: 1;
    }
}


