.curso_user_header--contenido{
    display: flex;
    height: 400px;
    background-color: rgb(41, 110, 249);
}

.curso_user_header--content-titulo,
.curso_user_header--content-parrafo,
.curso_user_header--content-btn{
    margin-left: 130px;
}

.curso_user_header--content-titulo{
    margin-top: 50px;
}

.curso_user_header--content-parrafo{
    margin-top: 20px;
}

.curso_user_header--parrafo{
    color: rgb(205, 205, 205);
    font-size: 20px;
}

.curso_user_header--titulo{
    font-size: 60px;
    color: white;
    font-style: Georgia;
}

.curso_user_header--content-btn{
    width: 100px;
    background-color: rgb(41, 110, 249);
    border: solid 1px white;
}

.curso_user_header--btn{
    color: white;
    text-align: center;
    margin-top: 12px;
}

.curso_user_header--content-btn:hover{
    background-color: white;
}

.curso_user_header--btn:hover{
    color: rgb(41, 110, 249);
}

.curso_user_header--content-img{
    margin-left: 350px;
    margin-top: 60px;
    height: 88px;
    border: solid 4px white;
}