
.info_usuario--principal_user{
    margin-top:40px;
    margin-bottom:40px;
}

.info_usuario--principal_user_grafica1{
    height: 500px;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.info_usuario--principal_user_grafica2,.info_usuario--principal_user_grafica3{
    height: 240px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.info_usuario--principal_user_grafica3{
    margin-top: 20px;
}