*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    background: #0b2027;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a
{
    color: #fff;
    text-decoration: none;
}

.btn-menu
{
    display: none;
    padding: 20px;
    background: #0d2c44;
    color: #fff;
}

.btn-menu .icono
{
    float: right;
}

.contenedor-menu
{
    width: 20%;
    min-width: 300px;
    margin: 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

.contenedor-menu .btn-menu
{
    width: 100%;
}

.contenedor-menu ul
{
    list-style: none;
}

.contenedor-menu .menu li a
{
    color: #fff;
    display: block;
    padding: 15px 20px;
    background: #0d2c44;
}

.contenedor-menu .menu li a:hover
{
    background-color: #1a95d5;
    color: antiquewhite;
}

.contenedor-menu .menu .icono
{
    font-size: 12px;
    line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda
{
    float: left;
    margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha
{
    float: right;
    margin-left: 10px;
}

.contenedor-menu .menu ul
{
    display: none;
}

.contenedor-menu .menu ul li a 
{
    background-color: #424242;
    color: #e9e9e9;
}

.contenedor-menu .menu .activado > a{
    background-color: #1a95d5;
}

@media screen and (max-width: 450px)
{
    body{
        padding-top: 80px;
    }

    .contenedor-menu{
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .btn-menu{
        display: block;
    }

    .contenedor-menu .menu{
        display: none;
    }
}

.encabezado{
    width: 100%;
    height: 10%;
    background-color: #1a95d5;
}