body{
    margin: 0;
    padding: 0;
}

/* NAV BAR USUARIO */

.nav_lista{
    z-index: 10;
    position: fixed;
    margin: 0px;
    display: flex;
    width: 100%;
    background: #1d2126;
    padding: 0px 0px;
    align-items: baseline;
    height: 60px;
}

.logo{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.item{
    color: white;
    list-style: none;
    margin-top: 0;
    padding: 10px 12px;
}

.cursos{
    margin: 0px 20px;   
    background: #303840;
    border: 2px solid #303840;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: cursive;
}
.cursos:hover{
    background: #1d2126;   
}


.buscador{
    border: 1px solid black;
    background: white;
    border-radius: 4px;
    height: 30px;
    padding: 5px;
    outline: none;
    width: 300px;
}

.buscador:checked{
    border: none;
}

.derecha{
    position: absolute;
    display: flex;
    right: 0;
    top: 10px;
    right: 10px
}


.cerrar_sesion{
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px  #303840;
}
.cerrar_sesion:hover{
    background-color: rebeccapurple;
}
/*---------------------------------------*/

.principal--contenedor_home{
    position: absolute;
    height: 100%;
    width: 100%;
}
.principal--parallax1{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/618/449/168/colored-pencil-on-a-pink-notebook-colored-pencils-lot-and-pink-notebook-wallpaper-92d1e2e03da6fe1bfa48a2a5a0687912.jpg');
    
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.principal--parallax2{
    background-image: url('https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/08/29/59a59d8131c69.jpeg');
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.principal--contenido_portada{
    height: 500px;
    width: 45%;
    background: rgba(1, 10, 51, 0.411);
    color: white;
}

.principal--frase{
    display: inline;
    width: 60%;
    float: right;
    font-size: 60px;
}
.principal--descripcion{
    width: 70%;
    display: inline;
    float: right;
    font-size: 20px;
    margin-right: 20px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}


/*------------------------*/


.principal--servicios{
    position: relative;
    border: 2px solid green;
    overflow: auto;
    background-color: rgba(0, 255, 255, 0.616);
}
*{
    box-sizing: border-box;
}

.principal--cua1{
    height: 400px;
    width: 45%;
    float: left;
    padding: 10px;
    background-image: url('https://www.downgraf.com/wp-content/uploads/2014/12/01-Alternate-Fixed-And-Scroll-Backgrounds.jpg');
    background-color: rgba(127, 255, 212, 0.144);   
}

.principal--cua2{
    height: 400px;
    width: 25%;
    float: left;
    padding: 5px;
    background:rgba(1, 10, 51, 0.08);;   
}
.principal--cua3{
    height: 400px;
    width: 30%;
    float: left;
    padding: 5px;
    background:rgba(1, 10, 51, 0.08);;   
}

.principal--cua1 .titulo{
    float: right;
    margin-right: 30%;
    color: white;
    font-size: 40px;
}

.principal--cua1 .contenido{
    float: right;
    margin-right: 30%;
    margin-left: 20%;
    margin-top: 8px;
    color: white;
    font-size: 20px;
}

.principal--cua1 .contenido:hover{
    color: black;
    font-size: 25px;
}

.principal--cua2 h4,.principal--cua3 h4{
    position: absolute;
    display: inline;
    font-size: 25px;
    margin-left: 25px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.principal--cua2 p,.principal--cua3 p
{
    margin-top: 5px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.principal--cua2 ul li,.principal--cua3 ul li
{
    list-style: none;
}

/* +++ */

.principal--vision{
    overflow: hidden;
    background-color: rgba(33, 33, 68, 1);
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 40px 20%;
}

.principal--titulo_vision{
    margin-top: 0px;
    padding-bottom: 20px;
    font-size: 40px;
}

.enlace-curso
{
    text-decoration: none;
    color: blue;
}

.principal--cua4{
    height: 400px;
    width: 45%;
    float: left;
    padding: 10px;
    background-image: url('http://www.thewebmaster.pro/wp-content/uploads/sites/35/2018/03/htmlcss.jpeg');
    background-color: rgba(127, 255, 212, 0.144);   
}

.principal--cua4 .titulo{
    float: right;
    margin-right: 40%;
    color:black;
    font-size: 40px;
}

.principal--cua4 .contenido{
    float: right;
    margin-right: 30%;
    margin-left: 20%;
    margin-top: 8px;
    color:black;
    font-size: 20px;
}

.principal--cua4 .contenido:hover{
    color: black;
    font-size: 25px;
}

.principal--cua5{
    height: 400px;
    width: 25%;
    float: left;
    padding: 5px;
    background:rgba(1, 10, 51, 0.08);;   
}
.principal--cua6{
    height: 400px;
    width: 30%;
    float: left;
    padding: 5px;
    background:rgba(1, 10, 51, 0.08);;   
}

.principal--cua5 h4,.principal--cua6 h4{
    position: absolute;
    display: inline;
    font-size: 25px;
    margin-left: 25px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.principal--cua5 p,.principal--cua6 p
{
    margin-top: 5px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.principal--cua5 ul li,.principal--cua6 ul li
{
    list-style: none;
}


/*----------------------------- */

.principal--titulo_creadores{
    margin: 0px;
    padding: 20px 10px;
    color: rgb(6, 6, 78);
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.178);
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.principal--creadores{
    height: 250px;
    border: 2px solid #66FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.slashcoding.com/wp-content/uploads/2013/10/clouds.jpg')
}

.principal--persona{
    margin: auto;
    height: 200px;
    width: 200px;
}

.principal--persona .titulo-persona{
    float: right;
    margin-right: 20%;
    color: black;
    font-size: 17px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.enlace_ver_mas{
    text-decoration: none;
    color: blue;
}

.principal--persona1{
    margin: auto;
    height: 200px;
    width: 200px;
    background-image: url(http://colegiolicanray.cl/img/img-func/icono-hombre.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.principal--persona2{
    margin: auto;
    height: 200px;
    width: 200px;
    background-image: url(https://batlleseoane.com/wp-content/uploads/2017/02/female-icon-6.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.principal--persona3{
    margin: auto;
    height: 200px;
    width: 200px;
    background-image: url(http://colegiolicanray.cl/img/img-func/icono-hombre.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-docente{
    height: 130px;
    width: 130px;
}
