body{
    padding: 0;
    margin: 0;
    height: 1000px;
}

.nav_lista{
    z-index: 10;
    position: fixed;
    margin: 0px;
    display: flex;
    width: 100%;
    background: black;
    padding: 0px 0px;
    align-items: baseline;
    height: 60px;
}

.item{
    color: white;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
}

.buscador{
    border: 1px solid black;
    background: white;
    border-radius: 4px;
    height: 30px;
    padding: 5px;
    outline: none;
    width: 300px;
}
.buscador:checked{
    border: none;
}

.cursos{
    background: gray;
    border-radius: 5px;
    cursor: pointer;
}
.derecha{
    position: absolute;
    display: flex;
    right: 0;
    top: 10px;
}



/*-----------------------------*/

.mini_perfil{
    padding-top:60px;
    height: 250px;
    background: rgba(112,124,234);
}

.contenido_superio{
    padding: 10px 5%;
    border-bottom: solid 1px white;
}


.lista2{
    display: flex;
    
}

.item2{
    color: white;
    list-style: none;
    margin: 10px;
}

.boton_editar{
    position: absolute;
    right: 5%;
    color: white;
    margin-top: 50px;
    height: 20px;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
}



/*--------------------------*/

.lista3{
    display: flex;
    padding: 0px 7%;
}

.item3{
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 15px;
    color :white;
    list-style: none;
}

.perfil_derecha{
    position: absolute;
    right: 5%;
}


/*----------------------------*/

main{
    
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.suscripcion{
    background: white;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 5px;
    border-left: solid 6px rgba(250,0,0);
}

.fecha{
    padding: 15px 40px;
    align-items: baseline;
}



/*----------------------------*/



.total_cuadros{
    margin-top: 50px;
    display: flex;
}

.cuadro{
    display: inline-block;
    height: 500px;
    width: 50%;
}


.cuadro1{
    background: red;
    margin-right: 5px;
    border-radius: 3px;
}

.cuadro2_1{
    border-radius: 3px;
    background: green;
    height: 245px;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 10px;
}
.cuadro2_2{
    border-radius: 3px;
    background: blue;
    height: 245px;
    width: 100%;
    margin-left: 5px;
}








/* Modal */

#modal{
    display: none;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 200px;
    background-color: rgba(0,0,0,0.7);
}

#contenido_modal{
    position: relative;
    height: 100px;
    width: 80%;
    padding: 0;
    margin: auto;
    background-color: beige;
    animation: 0.8s animacion_modal;
}


@keyframes animacion_modal{
    from{
        top: -300px;
        visibility: 0;
    }   
    
    to{
        top: 0;
        visibility: 1;
    }
}


