
/*------------ Informacion usuario-----------------*/
.info_usuario--header{
    padding-top: 100px;
    padding-bottom: 10px;
    align-items: baseline;
    padding-left: 10%;
    padding-right: 10%;
}

.info_usuario--header_btn_editar{
    position: absolute;
    right: 0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.info_usuario--header_info_user{
    color: white;
}
.info_usuario--header_info_user b{
    color: white;
    font-size: 30px;
}


.info_usuario--header_enlaces{
    display: flex;
    padding-left: 0px;
}

.info_usuario--header_enlaces li{
    list-style: none;
    color: white;
    margin-left: 0px;
    margin-right:30px;
    font-weight: bold;
}


.info_usuario--main{
    margin-top:40px;
    margin-bottom:40px;
}


#grafica2,#grafica3{
    height: 50%;
}