
/*------------ Informacion usuario-----------------*/
.info_usuario--header{
    padding-top: 100px;
    padding-bottom: 10px;
    align-items: baseline;
    padding-left: 10%;
    padding-right: 10%;
}

.info_usuario--header_btn_editar{
    position: absolute;
    right: 0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info_usuario--header_btn_editar:hover{
    background-color: white;
    color: #007bff;
}

.info_usuario--header_info_user{
    color: white;
}
.info_usuario--header_info_user b{
    color: white;
    font-size: 30px;
}


.info_usuario--header_enlaces{
    display: flex;
    padding-left: 0px;
}

.info_usuario--header_enlaces li{
    list-style: none;
    color: white;
    margin-left: 0px;
    margin-right:30px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

 