.cursos--contendor_cursos{
    margin: 10px 10%;
    background-color: red;
}

.cursos--grupo_cuadros{
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}

.cursos--cuadro_curso{
    height: 200px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: aqua;
    margin-left: 20px;
}