
/*   ----- FOOTER ----    */

.footer--contenido{
    background-color: #f5f7fa;
    padding: 50px 0px;
    box-shadow: 2px 2px 2px 2px gray;
}

.footer--superior{
    margin-left: 9%;
    margin-right: 9%;
    padding: 0px;
}


.footer--superior-listas h3,.footer_superior--info h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -1.2px;
    color: rgb(104, 104, 104);
}

.footer--superior-listas ul{
    padding: 0px;
}

.footer--superior-listas ul li{
    list-style: none;
    color: rgba(48,56,64,.7);
    font-size: 1em;
    font-family: Oswald,Arial, Helvetica, sans-serif;
}

.footer_superior--info{
    position: inherit;
    right: 0;
    text-align: end;
}

.footer_superior--info p{
    color: rgba(48,56,64,.7);
    font-size: 1em;
    font-family: Oswald,Arial, Helvetica, sans-serif;
}







/* Inferior */

.footer_inferior{
    width: 100%;
    background-color: #465a6e;    
}


.footer_inferior-contenido{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
}


.footer_inferior--seguidor{ 
    width: 50%;
}

.footer_inferior--seguidor ul{ 
    display: flex;
    padding: 0;
}
.footer_inferior--seguidor ul li{
    display: block;
    list-style: none;
    padding: 5px;
    margin: 2px;
    background-color: azure;
    color: #465a6e;
    border-radius: 2px;
}

.footer_inferior--info{
    width: 50%;
    text-align: end;
}


.footer_inferior--seguidor h3{
    color: azure;
}

.footer_inferior--info{
    color: azure;
}

.footer_inferior--info p span{
    color:aliceblue;
    text-decoration: underline;
}


