
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.info_usuario--perfil_user {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Lato', 'sans-serif';
}

.info_usuario--perfil_user_table>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.info_usuario--perfil_user_emphasis {
    border-top: 4px solid transparent;
}

.info_usuario--perfil_user_emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.info_usuario--perfil_user_emphasis h2 {
    margin-bottom: 0;
}

.col-xs-12 {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.profile {
    min-height: 355px;
    display: inline-block;
}

figcaption.ratings {
    margin-top: 20px;
}

figcaption.ratings a {
    color: #f1c40f;
    font-size: 11px;
}

figcaption.ratings a:hover {
    color: #f39c12;
    text-decoration: none;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


span.tags {
    top: 1000px;
    background: #1abc9c;
    border-radius: 4px;
    color: #f5f5f5;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px 4px;
}

.dropdown-menu {
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.dropdown-menu .divider {
    background: none;
}

.dropdown-menu>li>a {
    color: #f5f5f5;
}

.dropup .dropdown-menu {
    margin-bottom: 10px;
}

.dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}