.profesor--contenido{
    padding-left: 20%;
    padding-top: 35px;
}

.profesor--hr{
    border: none;
    height: 2px;
    margin-right: 5%;
    background: #ccc;
 }

 .profesor--tabla{
    background: white;
    width: 95%;
}