
/* NAV BAR USUARIO */

.nav_lista{
    z-index: 10;
    position: fixed;
    margin: 0px;
    display: flex;
    width: 100%;
    background: #1d2126;
    padding: 0px 0px;
    align-items: baseline;
    height: 60px;
}

.item{
    color: white;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.cursos{
    margin: 0px 20px;   
    background: #303840;
    border: 2px solid #303840;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: cursive;
}
.cursos:hover{
    background: #1d2126;   
}


.buscador{
    border: 1px solid black;
    background: white;
    border-radius: 4px;
    height: 30px;
    padding: 5px;
    outline: none;
    width: 300px;
}

.buscador:checked{
    border: none;
}

.derecha{
    position: absolute;
    display: flex;
    right: 0;
    top: 10px;
    right: 10px
}


.cerrar_sesion{
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px  #303840;
    text-decoration: none;
}
.cerrar_sesion:hover{
    background-color: rebeccapurple;
}

