/*
    Cuerpo login
*/
.login--fondo{
    background:#0056ff;
}

.login--cuadro_titulo{
    margin-top:200px;
    margin-bottom:200px;
    margin-left:100px;
    border-style: none;
    border-color:transparent;
}

.login--cuadro_titulo_texto{
    background:#0056ff;
}

.login--cuadro_principal{
    margin-top:200px;
    margin-bottom:200px;
    margin-left:100px;
}

.login--cuadro_principal_email{
    margin-top:30px;
}

.login--cuadro_principal_password{
    margin-top:20px;
}

.login--cuadro_principal_username{
    margin-top:20px;
}


