.info_usuario--cambiar_contrasenia_basica_user_main{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px; 
}

.info_usuario--cambiar_contrasenia_basica_btn_cambiar{
    position: absolute;
    right: 0;
}