
main{
    
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.suscripcion{
    background: white;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 5px;
    border-left: solid 6px rgba(250,0,0);
}

.fecha{
    padding: 15px 40px;
    align-items: baseline;
}



/*----------------------------*/



.total_cuadros{
    margin-top: 50px;
    display: flex;
    margin-bottom: 100px;
}

.cuadro{
    display: inline-block;
    height: 500px;
    width: 50%;
}


.cuadro1{
    background-image: url('./img3.png');
    margin-right: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadro2_1{
    border-radius: 3px;
    background-image: url('./img1.png');
    height: 245px;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
.cuadro2_2{
    border-radius: 3px;
    background-image: url('./img2.png');
    height: 245px;
    width: 100%;
    margin-left: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
/*----------------------------*/


