.navbar_admin--contenido{
    margin-bottom: 100px;
}

.navbar_admin--navegacion{
    position: relative;
    height: 100%;
}

#navbar_admin--lista{
    background: #122143;
    padding-block-end: 700px;
    position: absolute;
}
.navbar_admin--navegacion i {
    font-size: 20px;
    margin-right: 5px;
    color: #5584ff;
}

.navbar_admin--navegacion a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navbar_admin--navegacion .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navbar_admin--navegacion a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}

.navbar_admin--menu
{
    margin-left: -60px;
    margin-right: -10px;
    list-style-type: none; 
    background-color: #424242;
    color: #e9e9e9;

}